{
  "presets": [
    "../tools/es2015-preset",
    "stage-1"
  ],
  "plugins": [
    "transform-object-assign",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "plugins": [
        "dev-expression"
      ]
    }
  }
}
