{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": ["import"],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/typescript"
  ],
  "rules": {
    "prefer-arrow-callback": "error",
    "no-unused-vars": [
      "warn",
      {
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "event"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "parser": "babel-eslint"
    },
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"]
    }
  ]
}
